<button class="btn-flat" ng-click="bold()">B</button>
<button class="btn-flat" ng-click="italicize()">I</button>
<button class="btn-flat" ng-click="underline()">U</button>

<input class="input-option" type="range" min="1" max="7" id="fontRange" ng-click="changeFontSize()" />

<div class="input-option">
    <select id="fontName">
        <option>Arial</option>
        <option>Courier</option>
        <option>Georgia</option>
        <option>Impact</option>
        <option>Verdana</option>
    </select>
    <label>Font</label>
</div>

<div class="input-group colorpicker-component colorpicker-element">
    <input type="text" value="#FFFFFF" class="form-control" />
    <span class="input-group-addon"><i></i></span>
</div>
<button ng-click="changeFontClr()">Colour</button>

<iframe id="txtBlock"> nyeheneyneyenyneyeneyheyneyhyheynyeneyeeyeny</iframe>
