<!-- top bar with 3 buttons i b u , each with ng-click hooked up to controller. make em work!
only for selected text
textarea larger, resemble google docs -->
<div id="buttons">
    <button class="btn btn-default" ng-click="bold()">B</button>
    <button class="btn btn-default" ng-click="italicize()">I</button>
    <button class="btn btn-default" ng-click="underline()">U</button>
</div>
<!-- <format-text-area>
</format-text-area> -->
adfgadfga
<div contenteditable ng-model="text" style="background:pink; height:200px; width:200px"></div>
nsgrjmmmmmmmmmmmmmmmmmm
<p>{{text}}</p>
