button {
    display: inline-block;
    margin-bottom: 5px;
}

#buttons {
    padding: 10px 100px;
    height: 25px;
    margin-bottom: 5px;
}

#txtBlock {
    margin: 20px 80px;
    border: solid grey 1px;
    height: 120vh;
    width: 70vw;
}
