button {
    display: inline-block;
}

#buttons {
    padding-left: 64px;
}

#txtBlock {
    margin: 12px 80px;
    border: solid grey 2px;
    height: 120vh;
    width: 70vw;
    white-space: pre;
}
